.header {
  background-color: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 0 1.25rem 0;

  & img {
    width: 4rem;
    height: 4rem;
  }
  &__title {
    font-size: 1.4rem;
    text-shadow: 1px 2px 11px rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
  }
  &__labels {
    display: flex;
    gap: 1rem;
    color: white;
  }
}

.active {
  color: black;
  text-decoration: none;
}

.inactive {
  color: white;
  text-decoration: none;
  text-decoration-color: black;
}

.inactive:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .header__main {
    // background-color: red;
  }
}
